* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
}

.slider {
  height: 60%;
  width: 80%;
}

.jas-slide {
  height: 100%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  --offset: 0px;
  padding: 40px;
  background-color: #ddee;
  transform: translateX(var(--offset));
}
